
@{
    ViewBag.Title = "Index";
}

<form role="form" id="formInvoice">
    <div class="card-body">
        <div class="row">
            <div class="form-group col-md-2">
                <label for="poCode">RO Code</label>
                <input type="text" class="form-control" id="roCode" name="RO_Code" readonly>
                <input type="hidden" class="form-control" id="roID" name="RO_ID" value="0">
            </div>
            <div class="form-group col-md-8">
                <label>Select Location</label>
                <select class="form-control" name="Re_Location" id="reLocation"></select>
            </div>
            <div class="form-group col-md-2" style="padding-top:1.5em">
                <button type="button" class="btn btn-block bg-gradient-warning btn-lg" id="btnReorder">Load Reorder Items</button>
            </div>            
        </div>
        <div class="row">
            <div class="form-group col-md-2">
                <label for="itmCode">Item Code</label>
                <input type="text" class="form-control" id="itmCode" name="Item_code">
            </div>
            <div class="form-group col-md-7">
                <label>Select Item</label>
                <select class="form-control" name="RE_D_Item_ID" id="item"></select>
            </div>
            <div class="form-group col-md-1">
                <label for="Qty">Item Qty</label>
                <input type="text" class="form-control" id="Qty" name="itm_qty" value="0.00">
            </div>
            <div class="form-group col-md-1">
                <label for="itmPrice">Item Price</label>
                <input type="text" class="form-control" id="itmPrice" name="itmPrice" value="0.00">
            </div>
            <div class="form-group col-md-1" style="margin-top: 15px;margin-bottom: 0px;">
                <a class="btn btn-app bg-gradient-info" id="btnAddItem">
                    <i class="fas fa-plus"></i>Add
                </a>
            </div>

        </div>
    </div>
    <!-- /.card-body -->

    <div class="card-footer">
        <div class="row">
            <div class="col-md-4">
                <button type="button" class="btn btn-block bg-gradient-success btn-lg" id="btnSave">Genarate PO</button>
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-block bg-gradient-primary btn-lg" id="btnNew">New</button>
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-block bg-gradient-info btn-lg" id="btnSearch" data-toggle="modal" data-target="#modalROSearch">Search Reorders</button>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div id="tbItems_wrapper" class="dataTables_wrapper dt-bootstrap4">
            <div class="row">
                <div class="col-sm-12">
                    <table id="tbItems" class="hover" style="width:100%">
                        <thead>
                            <tr>
                                <th>Item ID</th>
                                <th>Item Code</th>
                                <th>Item Name</th>
                                <th>Item Qty</th>
                                <th>Item Price</th>
                                <th>Item Value</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="modal fade" id="modalROSearch" tabindex="-1" role="dialog" aria-labelledby="modalROSearchTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalROSearchTitle">Search Reorders</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-body">
                        <div id="tbItems_wrapper" class="dataTables_wrapper dt-bootstrap4">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="tbRO" class="hover" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>RO ID</th>
                                                <th>RO Code</th>
                                                <th>RO Date</th>
                                                <th>RO Value</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



@section FooterScripts{
    <script type="text/javascript">
        var Items = [];

        $(document).ready(function () {
            LoadActiveLocations();

            var table = $('#tbItems').DataTable({
                "columnDefs": [
                    {
                        "targets": [0],
                        "visible": false,
                        "searchable": false,
                    },
                    {
                        "targets": [1],
                        className: 'dt-head-center',
                    },
                    {
                        "targets": [2],
                        className: 'dt-head-center',
                    },
                    {
                        "targets": [3],
                        className: 'dt-head-center dt-body-right',
                        render: $.fn.dataTable.render.number(',', '.', 2),
                    },
                    {
                        "targets": [4],
                        className: 'dt-head-center dt-body-right',
                        render: $.fn.dataTable.render.number(',', '.', 2, 'Rs.'),
                    },
                    {
                        "targets": [5],
                        className: 'dt-head-center dt-body-right',
                        render: $.fn.dataTable.render.number(',', '.', 2, 'Rs.'),
                    },
                    {
                        "targets": [6],
                        className: 'dt-head-center dt-body-center',
                    }
                ]
            });

            $('#tbItems tbody').on('click', '.rmvBtn', function () {
                var da = table.row({ selected: true }).data();
                removeItem(da[0]);
            });

            //TB RO
            var tablero = $('#tbRO').DataTable({
                "columnDefs": [
                    {
                        "targets": [0],
                        "visible": false,
                        "searchable": false,
                    }
                ]
            });
            $('#tbRO tbody').on('click', 'tr', function () {
                var da = tablero.row(this).data();
                LoadROs(da[0]);

            });
        });

        $(document).on('click', '#btnReorder', function (e) {
            LoadReorderItems();
        });

        $(document).on('change', 'select[name="RE_D_Item_ID"]', function (e) {
            e.preventDefault();
            if ($("#item option:selected").val() != 0) {
                LoadItem();
            }
        });

        $(document).on('keypress', '#itmCode', function (e) {
            if (e.which == 13) {
                e.preventDefault();
                if ($('#itmCode').val() == '')
                    Swal.fire({
                        position: 'top-end',
                        icon: 'error',
                        title: "Please Enter Item Code",
                        showConfirmButton: false,
                        timer: 2500,
                        toast: true,
                    });
                else {
                    LoadItemByCode();
                }
            }
        });

        $(document).on('click', '#btnSave ', function (e) {

            if ($('#roID').val() != 0) {

                Swal.fire({
                    title: 'Are you sure?',
                    text: "You want to update this PO!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes',
                    cancelButtonText: 'No'
                }).then(function (res) {
                    if (res.isConfirmed)
                        saveRO()
                })
            }
            else {
                saveRO();
            }
        });

        function saveRO() {
            var ROItems = {
                RO_ID: $('#roID').val(),
                RO_Location: $('#reLocation').val(),
                RO_Code: $('#roCode').val(),
                Items: Items
            };

            $.ajax({
                type: 'POST',
                url: '@Url.RouteUrl("ReorderSave")',
                traditional: true,
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({ RO: ROItems }),
                dataType: 'json',
                success: function (JsonObj) {
                    if (JsonObj.IsSuccess) {
                        Swal.fire({
                            position: 'top-end',
                            icon: 'success',
                            title: JsonObj.SvrMsgBody,
                            showConfirmButton: false,
                            timer: 1500,
                            toast: true,
                        })
                        $('#roCode').val(JsonObj.code),
                        $('#roID').val(JsonObj.id)
                    }
                    else {
                        Swal.fire({
                            position: 'top-end',
                            icon: 'error',
                            title: JsonObj.SvrMsgBody,
                            showConfirmButton: false,
                            timer: 1500,
                            toast: true,
                        })
                    }
                }
            });
        }



        function LoadActiveLocations() {
            $('select[name="Re_Location"]').append('<option value="0"> - Select Location- </option>');
            $.ajax({
                type: 'POST',
                url: '@Url.RouteUrl("GetLocationActive")',
                success: function (JsonObj) {
                    JsonObj.data.forEach(function (itm, ind) {
                        $('select[name="Re_Location"]').append('<option value="' + itm.LocationID + '">' + itm.LocationName + '</option>');
                    });
                }
            });
        }

    function LoadReorderItems() {
        $('select[name="RE_D_Item_ID"]').append('<option value="0"> - Select Item - </option>');
        $.ajax({
            type: 'POST',
            url: '@Url.RouteUrl("GetReorderItems")',
            data: { Loc_ID: $('#reLocation').val() },
            success: function (JsonObj) {
                JsonObj.data.forEach(function (itm, ind) {
                    $('select[name="RE_D_Item_ID"]').append('<option value="' + itm.ItemID + '">' + itm.ItemName + '</option>');
                });
            }
        });
    }

        $(document).on('click', '#btnAddItem', function (e) {
            e.preventDefault();
            var msg = ValidateInputs();
            if (msg != "") {
                Swal.fire({
                    position: 'top-end',
                    icon: 'error',
                    title: msg,
                    showConfirmButton: false,
                    timer: 2500,
                    toast: true,
                });
            }
            else {
                PreLoadItmes();
            }
            AddDatatoGrid();
        });


        function LoadItem() {

            $.ajax({
                type: 'POST',
                url: '@Url.RouteUrl("LoadItems")',
                data: {
                    Itm_Loc: $('#reLocation').val(),
                    Item_Id: $('#item').val()
                },
                success: function (JsonObj) {
                    console.log(JsonObj);
                    $('#itmCode').val(JsonObj.data[0].Item_Code);
                    $('#itmPrice').val(JsonObj.data[0].Item_Price);
                    $('#itmStock').val(JsonObj.data[0].Item_Qty);
                }
            });
        }

        function LoadItemByCode() {
            $.ajax({
                type: 'POST',
                url: '@Url.RouteUrl("LoadItems")',
                data: {
                    Itm_Loc: $('#reLocation').val(),
                    item_code: $('#itmCode').val(),
                },
                success: function (JsonObj) {
                    if (JsonObj.data.length == 0) {
                        Swal.fire({
                            position: 'top-end',
                            icon: 'error',
                            title: "Invalid Item Code",
                            showConfirmButton: false,
                            timer: 2500,
                            toast: true,
                        });
                    }
                    else {
                        $('#itmPrice').val(JsonObj.data[0].Item_Price);
                        $("#item").val(JsonObj.data[0].Item_ID);
                        $("#itmStock").val(JsonObj.data[0].Item_Qty);
                    }
                }
            });
        }

        function PreLoadItmes() {
            var found = false;
            for (var x = 0; x < Items.length; x++) {
                if (Items[x].Item_ID == $('#item').val()) {
                    var tmpq = Items[x].Item_Qty;
                    Items[x].Item_Qty = parseInt(tmpq) + parseInt($('#Qty').val());
                    Items[x].Item_Value = Items[x].Item_Price * Items[x].Item_Qty;
                    found = true;
                    break;
                }
            }
            if (!found) {
                Items.push({
                    Item_ID: $('#item').val(),
                    Item_Code: $('#itmCode').val(),
                    Item_Name: $("#item option:selected").text(),
                    Item_Qty: $('#Qty').val(),
                    Item_Price: $('#itmPrice').val(),
                    Item_Value: $('#Qty').val() * $('#itmPrice').val(),
                });

            }
        }

        function AddDatatoGrid() {
            console.log(Items);
            var t = $('#tbItems').DataTable();
            t.clear().draw();
            Items.forEach(function (itm, ind) {
                {
                    t.row.add([
                      itm.Item_ID,
                      itm.Item_Code,
                      itm.Item_Name,
                      itm.Item_Qty,
                      itm.Item_Price,
                      itm.Item_Value,
                      '<a href="#" data-item-id="' + itm.Item_ID + '"><i class="fas fa-trash-alt rmvBtn" style="color:Tomato" value="' + itm.Item_ID + '"></i></a>'
                    ]).draw(false);
                }
            });
        }

        function ValidateInputs() {
            var msg = "";
            if ($("#item option:selected").val() == 0) {
                msg = "Please Select Item";
            }
            else if ($('#Qty').val() == '' || parseFloat($('#Qty').val()) <= 0) {
                msg = "Item Qty Can't Be Empty Or Zero!";
            }
            else if ($('#itmPrice').val() == '' || parseFloat($('#itmPrice').val()) <= 0) {
                msg = "Item Price Can't Be Empty Or Zero!";
            }
            return msg;
        }

        function removeItem(id) {
            Items = Items.filter(function (elem) {
                return elem.Item_ID !== id;
            });
            AddDatatoGrid();
        }

        function clearItem() {
            $('#itmCode').val('');
            $('#item').val(0);
            $('#Qty').val("0.00");
            $('#itmPrice').val("0.00");
            $('#itmStock').val("0.00");
        }

        function restFileds() {
            $('#roID').val('0');
            $('#roCode').val('');
            $('#reLocation').val(0);
            Items = [];
            $('#tbItems').DataTable().clear().draw();
        }


        //Model
        $(document).on('click', '#btnSearch', function (e) {
            $.ajax({
                type: 'POST',
                url: '@Url.RouteUrl("ReorderGetAll")',
                success: function (JsonObj) {
                    var tableRO = $('#tbRO').DataTable();
                    tableRO.clear().draw();
                    console.log(JsonObj);
                    JsonObj.data.forEach(function (itm, ind) {
                        tableRO.row.add([
                            itm.RO_ID,
                            itm.RO_Code,
                            itm.RO_Date,
                            itm.RO_Amount
                        ]).draw(false);
                    });
                }
            })
        });


        function LoadROs(ID) {
            restFileds();
            clearItem();
            $.ajax({
                type: 'POST',
                url: '@Url.RouteUrl("SelectReorder")',
                data: { RO_ID: ID },
                success: function (JsonObj) {
                    console.log(JsonObj);

                    $('#roID').val(JsonObj.data.RO_ID);
                    $('#roCode').val(JsonObj.data.RO_Code);
                    $('#reLocation').val(JsonObj.data.RO_Location);

                    JsonObj.data.Items.forEach(function (itm, ind) {
                        Items.push({
                            Item_ID: itm.Item_ID,
                            Item_Code: itm.Item_Code,
                            Item_Name: itm.Item_Name,
                            Item_Qty: itm.Item_Qty,
                            Item_Price: itm.Item_Price,
                            Item_Value: itm.Item_Value,
                        });
                    });
                    AddDatatoGrid();
                    $("#modalROSearch .close").click();

                }
            });

        }
    </script>
    
    }